/*html {
	overflow: hidden; 
}*/
.preloader {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: #d5e6e9;
	z-index: 999;
	overflow: hidden;
}

.preloader h1 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	position: absolute;
	top: 50%;
	left: 50%;
	color: #004377;
	font-size: 50px;
	margin: -140px 0 0 -115px;
	letter-spacing: 7px;
	animation: loading 1s infinite linear forwards alternate;
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid #0060e2;
    text-align: center;
    font-size: 26px;
    background-color: transparent;
    line-height: 90px;
    border-right: 10px solid transparent;
    transform-origin: 50% 50%; 
    animation: circle 1s infinite linear forwards, circle-color 1s infinite linear forwards alternate;
}

@keyframes circle {
	to {
		transform: rotate(360deg);
	}
}

@keyframes circle-color {
	50% {
		border: 10px solid #008033;
		border-right: 10px solid transparent;
	}
	100% {
		border: 10px solid #791668;
		border-right: 10px solid transparent;
	}
}

@keyframes loading {
	60% {
		color: #6f808d;
	}
	100% {
		color: #791668;
	}
}